{% extends '@App/base.home.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block content_body %}
	<h1></h1>
{% endblock %}

{% block content_script %}{{ parent() }}
	<script>
		$('a').popup();
	</script>
{% endblock %}