{% extends '@App/base.ui.html.twig' %}

{% block title %}Saisie de commande{% endblock %}

{% block content_body %}
	<h1>Saisie de commande</h1>
{% endblock %}

{% block content_script %}{{ parent() }}
	<script>

	</script>
{% endblock %}