{% extends '@App/base.ui.html.twig' %}

{% block title %}Points de chargement/livraison{% endblock %}

{% block content_body %}
	<h1>Points de chargement/livraison</h1>
	<table>
		<thead>

		</thead>
	</table>
{% endblock %}

{% block content_script %}{{ parent() }}
	<script>

	</script>
{% endblock %}