{% extends '@App/base.ui.html.twig' %}

{% block title %}Rechercher{% endblock %}

{% block content_body %}
	<h1>Rechercher</h1>
{% endblock %}

{% block content_script %}{{ parent() }}
	<script>

	</script>
{% endblock %}